<h2>Nastavnici</h2>

<ul class="nastavnici">

 <div>
   <h3>Pronadji nastavnika</h3>
   <label>jmbg:
     <input [(ngModel)]="trazeni_jmbg" placeholder="jmbg">
   </label>
 </div>

 <button (click)="search()">search</button>
 <button (click)="goBack()">go back</button>

 <div *ngIf="trazeni_nastavnik">
 <app-nastavnik-detail [nastavnik]="trazeni_nastavnik"></app-nastavnik-detail>

   <div *ngFor="let predmet of this.trazeni_nastavnik.predmeti">
     <h3>{{predmet.naziv}}</h3>
     <div *ngFor="let odeljenje of this.trazeni_nastavnik.odeljenja">
       <div *ngIf="daLiSlusajuPredmet(odeljenje, predmet.id)">
         <h4>{{odeljenje.razred.godina}} {{odeljenje.oznaka}}</h4>
         <table border="1" class="table table-hover">
           <tr>
             <th>Ime i prezime</th>
             <th>Ocene iz prvog</th>
             <th id="zakljucna" >Zakljucna za prvi</th>
             <th>Ocene iz drugog</th>
             <th  id="zakljucna">Zakljucna za drugi</th>
           </tr>
           <tr *ngFor="let ucenik of odeljenje.ucenici">
             <td>{{ucenik.ime}} {{ucenik.prezime}}</td>
             <td><span *ngIf="ucenik.evidencija">
        <span *ngFor="let oc of ucenik.evidencija.ocenePrvo">
            {{oc}}
          </span></span>
            <button class="btn btn-primary" (click)="otvori(1, false, predmet.id, ucenik.id)">+</button>
             </td>
             <td><span *ngIf="ucenik.evidencija">{{ucenik.evidencija.zakljucnaPrvo}}</span>
               <button class="btn btn-primary" (click)="otvori(1, true, predmet.id, ucenik.id)">+</button></td>
             <td><span *ngIf="ucenik.evidencija">
        <span *ngFor="let oc of ucenik.evidencija.oceneDrugo">
            {{oc}}
          </span></span>
          <button class="btn btn-primary" (click)="otvori(2, false, predmet.id, ucenik.id)">+</button>
             </td>
             <td><span *ngIf="ucenik.evidencija">{{ucenik.evidencija.zakljucnaDrugo}}</span>
               <button class="btn btn-primary" (click)="otvori(2, true, predmet.id, ucenik.id)">+</button></td>
           </tr>
         </table>
       </div>

     </div>

   </div>


 </div>


 <div [ngStyle]="{'display':prikazi_dijalog}" class="modal" id="ocenaModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" (click)="zatvori()">&times;</button>
        <h2 class="modal-title">Dodaj ocenu</h2>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="dodajOcenu()">
          <div class="form-group">
            <label for="ocena">Ocena:</label>
            <input [(ngModel)]="nova_ocena_vrednost" class="form-control"
                   type="text" id="nova_ocena_polje" name="novaOcenaPolje">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button id="dugmePosalji" class="btn btn-success" (click)="dodajOcenu()">Posalji</button>
        <button id="dugmeZatvori" class="btn btn-primary" data-dismiss="modal" (click)="zatvori()">Close</button>
      </div>
    </div>
  </div>
</div>
